
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/assets/images/logo.png' />
    <title>Onemedia - Marketing, publicidade</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/package.css">
  </head>

<body>



  <!-- <div class="main-banner" id="top"> -->
    <!-- <div class="container">
        <div class="item header-text">
                 
        </div>
        <div class="item header-text">
         
        </div>
        <div class="item header-text">
         
        </div>
    </div> -->
 
    <div class="request">
      <div class="card">
        <div class="card-top border-bottom text-center"> <a href="#">Pagina inicial</a> <span id="logo">
          <img src="/assets/images/logo.png" alt="">
        </span> </div>
        <div class="card-body">
            <div class="row upper">
               <!-- <span><i class="fa fa-check-circle-o"></i> Comp</span> -->
                <!-- <span><i class="fa fa-check-circle-o"></i> Escolher pacote</span>  -->
                <span id="payment"><span id="three"><i class="fa fa-check-circle-o"></i></span>Pagamento</span> </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="left border">
                        <div class="row"> <span class="header">Detalhes de pagamento</span>
                            <div class="icons"> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                        </div>
                        <form> 
                          <span>Nome completo:</span> 
                          <input placeholder="Agostinho Dos Santos"> 
                          <span>Localização:</span> 
                          <input placeholder="Mocambique, Maputo">
                          <span>Email:</span> 
                          <input placeholder="Seu email">
                            <div class="row">
                                <div class="col-4">
                                  <span>Inicio do evento</span> 
                                  <input type="date" placeholder="YY/MM"> 
                                </div>
                                <div class="col-8">
                                  <span>Duração do evento:</span> 
                                  <input  value="1" placeholder="" type="number"> 
                                </div>
                            </div> 
                            <input type="checkbox" id="save_card" value="checked" class="align-left"> 
                            <label for="save_card">Salvar detalhes do pagamento</label>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="right border">
                        <div class="header">Seu pacote</div>
                        <p>1 item</p>
                        <div class="row item">
                            <div class="col-4 align-self-center"><img class="img-fluid" src="https://i.imgur.com/79M6pU0.png"></div>
                            <div class="col-8">
                                <div class="row">Pacote basico</div>
                                <div class="row text-muted">Sed ut perspiciatis unde omnis iste natus error sit</div>
                                <!-- <div class="row">Qtd:1</div> -->
                            </div>
                        </div>
                       
                        <hr>
                        <div class="row lower">
                            <div class="col text-left">Subtotal</div>
                            <div class="col text-right">46.98 MZN</div>
                        </div>
                        <div class="row lower">
                          <div class="col text-left">IVA</div>
                          <div class="col text-right">4000 MZN</div>
                      </div>
                        <div class="row lower">
                            <div class="col text-left">Entrega</div>
                            <div class="col text-right">Grátis</div>
                        </div>

                        <div class="row lower">
                            <div class="col text-left"><b>Total</b></div>
                            <div class="col text-right"><b>46.98 MZN</b></div>
                        </div>
                         <button class="btn">Faça a encomenda</button>
                        <p class="text-muted text-center">Ao encomendar voce aceita nossos termos e condições</p>
                    </div>
                </div>
            </div>
        </div>
        <div> </div>
    </div>
    </div>
  



  <!-- Scripts -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/owl-carousel.js"></script>
  <script src="/assets/js/animation.js"></script>
  <script src="/assets/js/imagesloaded.js"></script>
  <script src="/assets/js/custom.js"></script>

  <!-- custom lib popup -->
  <script src="https:/cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https:/cdn.jsdelivr.net/npm/promise-polyfill"></script>

  <script>
  // Acc
    $(document).on("click", ".naccs .menu div", function() {
      var numberIndex = $(this).index();

      if (!$(this).is("active")) {
          $(".naccs .menu div").removeClass("active");
          $(".naccs ul li").removeClass("active");

          $(this).addClass("active");
          $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

          var listItemHeight = $(".naccs ul")
            .find("li:eq(" + numberIndex + ")")
            .innerHeight();
          $(".naccs ul").height(listItemHeight + "px");
        }
    });
  </script>
</body>
</html>